@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    margin: 25px;
    font-size: 28px;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;

    z-index: 100;
    height: 70px;
    padding-left: 64px;
    padding-right: 64px;

    color: white;
    background-color: black;
}

#header-title {
    font-size: 40px;
    font-weight: 700;
    color: yellow;
    cursor: pointer;
}

#search-UI {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#search-input {
    visibility: hidden;
    position: absolute;
    right: 170px;
    height: 40px;
    width: 0px;

    background-color: black;
}

#search-input:focus {
    outline: none;
}

#search-input.expand {
    visibility: visible;
    display: flex;
    border: 1px solid white;
    border-radius: 8px;

    color: white;
    width: 255px;
    padding-left: 40px;

    font-size: 15px;
    transition: 0.4s ease;
}

.magnifier {
    position: absolute;
    right: 170px;

    height: 30px;
    width: 30px;

    cursor: pointer;

    transition: 0.4s ease;
    z-index: 10;
}

.magnifier.expand {
    right: 390px;
}

#cancle-button {
    visibility: hidden;
    margin-right: 85px;
    height: 15px;
    width: 15px;

    cursor: pointer;
}



@media (max-width: 880px) {
    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: sticky;
        top: 0;

        z-index: 100;
        height: 150px;
        margin-top: 15px;
        padding-left: 64px;
        padding-right: 64px;
        gap: 30px;

        color: white;
        background-color: black;
    }

    #search-UI {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;

        width: 100%;
    }
}

body {
    background-color: rgb(0, 0, 0);
    /* display: flex; */
    padding: 0 35px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: black;
}
/* 상단 영상 파트  */
#video-title {
    font-size: 28px;
    margin-left: 44%;
    color: white;
}

.video-wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 50px;
}

.wrapper {
    display: flexbox;
    max-width: 1200px;
    position: relative;
}
.wrapper i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343f4f;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}
.wrapper i:active {
    transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover {
    background: #f2f2f2;
}
.wrapper i:first-child {
    left: -22px;
    display: none;
}
.wrapper i:last-child {
    right: -22px;
}
.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}
.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}
.carousel.dragging img {
    pointer-events: none;
}
.carousel img {
    height: 300px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
    position: relative;
    width: 220px;
}
.carousel img:first-child {
    margin-left: 0px;
}
@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100% / 2);
    }
}
@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
    }
}
#left {
    margin-top: 45px;
    margin-left: -50px;
}
#right {
    margin-top: 45px;
    margin-right: -30px;
}
/* image 호버 */
.image {
    translate: all 1.2s linear;
}
.image:hover {
    transform: scale(1.4);
}

/* 동영상 닫기 버튼  */
.button-close {
    position: relative;
    display: inline-block;
    font-size: 20px;
    padding: 5px 5px;
    color: white;
    margin: 400px 0px 0px 5px;
    border-radius: 6px;
    text-align: center;
    transition: top 0.01s linear;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    margin-top: 700px;
}
/* 버튼 닫기 호버 효과 */
.button-close.gray:hover {
    background-color: #253037;
}
.close-btn:active {
    top: 9px;
}
.button-close.gray {
    background-color: gray;
    box-shadow: 0 0 0 1px #253139 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #253037,
        0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
.button-close.gray:active {
    box-shadow: 0 0 0 1px #253139 inset, 0 0 0 2px rgba(38, 49, 56) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
}

/* 모달창 css */
.modal-bg {
    position: absolute;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.visible {
    visibility: visible;
}
.hidden {
    background-color: white;
    visibility: hidden;
}
.video {
    height: 500px;
    width: 860px;
    margin-top: 250px;
}
/*  */
.rowTitle {
    text-decoration: none; /* 하이퍼링크의 밑줄 제거 */
    display: flex;
    align-items: end;
}

.top {
    position: relative;
    height: 50px;
    color: white;
    margin-top: 5%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.see-all-link {
    font-size: 18px;
    margin-left: auto;
    text-decoration: none;
    color: cornflowerblue;
    margin-bottom: 30px;
}

.rowTitle .aro-row-header {
    display: none;
}

.rowTitle:hover .aro-row-header {
    display: block;
}

#card-slider {
    display: flex; /* 버튼과 카드들을 가로로 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
}
.card-container {
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none; /*스크롤바 숨기기 */
    -ms-overflow-style: none; /*IE 및 Edge용 스크롤바 숨기기 */
}

.slider-card {
    padding: 10px;
    border-radius: 5px;
}

.slider-card img {
    box-shadow: 2px 2px 10px gainsboro;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    margin: 0px 0px 10px 0px;
}

.deals-paddle {
    height: 38px;
    width: 38px;
    color: white;
    background-color: #00000089;
    border-radius: 50%;
    border: 0px solid;
    margin: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.left {
    left: 5px; /* 왼쪽에 배치 */
}

.right {
    right: 5px; /* 오른쪽에 배치 */
}
