body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.all-container {
  max-width: 750px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.poster-container {
  flex: 0 0 300px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-poster {
  width: 18vw;
}

.details-container {
  flex: 1;
}

.details-container > h1,
p {
  margin: 0;
  padding: 0;
}

.details-container > h1 {
  color: #333;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}

.details-container > p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #777;
  font-size: 16px;
  line-height: 1.5;
}

input.back-btn {
  background: url("../image/free-icon-back-arrow-4510823.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-size: cover;
  border: 0;
  margin-top: 10px;
  margin-left: 20px;
  transition: transform 0.3s ease-in-out;
}

input.back-btn:hover {
  transform: scale(1.1);
}
