body {
  min-height: 100vh;
  background-attachment: fixed;

}

/* slider__wrap */
.sliderWrap {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 430px;
  height: 500px;
  box-shadow: 0 50px 100px rgba(0,0,0,0.5);
}
.sliderImg {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0px 0px 0px 40px;
  overflow: hidden;
}
.sliderImg img {
  position:fixed;
  width:auto;
  height: 100%;
  /* background-size: cover; */
  object-fit: cover;   /* img 태그로 불러왔을 때 cover 효과 */
  opacity: 0;
  transform: scale(1.1);
  transition: all 500ms ease-in-out;
}
.sliderImg img.active {
  opacity: 1;
  transform: scale(1);
}
.slideThumb {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, 150px);
  width: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.slideThumb img {
  cursor: pointer;
    border: 2px solid transparent; /* 보더도 위치값을 가지기 때문에 transparent(색상 투명하게) 씀 */
   margin: auto;
   text-align: center;
   width: 100px;
   justify-content: center;
   
  }
.slideThumb img.active {
  border: 2px solid #fff;
}
.sliderBtn a {
  display: flex;
  position: absolute;
  top: 0;
  width: 40px;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #fff;
  background-color: rgba(0,0,0,0.2);
  transition: all 300ms ease-in-out;
}
.sliderBtn a:hover {
  background-color: rgba(0,0,0,0.5);
}
.sliderBtn a.nextview {
  right: 0;
}
.sliderBtn a.preview {
  left: 0;
}